.header {
    background: #000000;
    color: #ffff;
    font-family: Ubuntu;
    font-size: 32px;
    line-height: 37px;
    padding: 10px 40px;
}

.goHomePage {
    text-decoration: none;
    color: #ffff;
}